*{
    box-sizing: border-box;
    margin: 0;padding: 0;
}

body, html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.field{
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgb(237, 255, 220);
    display: flex;
}

.platform{
    z-index: 1;
    background: rgb(49, 165, 38);
    position: relative;
}

.player{
    position: absolute;
}

.blockage{
    z-index: 1;
    background: red;
    position: absolute;
} 